/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
#animate{
  color:#999;
  text-transform: uppercase;
  font-size:26px;
  font-weight:bold;
  text-align: center;
  justify-content: center;
  position: relative;
  width:100%;
  bottom:-5%;
  display:flex;
}
#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:var(--first-color);
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 7s linear infinite;
}



@keyframes show {
  0%  {margin-top:-291px;}
  25% {margin-top:-180px;}
  50% {margin-top:-90px;}
  75% {margin-top:0px;}
  95% {margin-top:0px;}
  100% {margin-top:-291px;}
}

.nav_btns{
  display: flex;
  align-items: center;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  padding-left: 10%;
  padding-right: 10%;
  transition: .4s; /* for light mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover{
    color: var(--first-color);
}

#theme-button{
  display: inline-grid;
}
/*========== Variables Dark theme ==========*/

body.light-theme{
    --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;

}
/*==========
    Color changes in some parts of
    the website, in light theme
==========*/
.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0,0%, 1%, .1);
}

.light-theme .nav_menu{
    background-color: hsla(var(--second-hue), 32%, 90%, .8)
}

.light-theme .section_subtitle{
    color:var(--text-color);
}

.light-theme .home_social-link{
    box-shadow: 0 2px 8px hsla(var(--second-hue),48%,8%,.1);
}

.light-theme .home_social::after{
    background-color: var(--title-color);
}

.light-theme .home_social-link,
.light-theme .home_scroll,
.light-theme .button:hover{
    color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
  max-width: 100%;
}

.section_title,
.section_subtitle
{
  text-align: center;
}

.section_title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section_subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;
}
.about_section{
    max-width: 100%;
}
.nav{
    height: var(--header-height);
    display: flex;
    max-width:100%;
    justify-content: space-between;
    align-items: center;
}
#wrapperload{
  overflow: hidden;
  height:50px;


}
#wrapperload .elem{

  justify-content: center;
  text-align: center;
}

@keyframes anim{
  to{
    margin-top: -50px;
  }
}
.home_name{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#wrapperload .elem:nth-child(1){
    animation: anim 4s infinite;
}
#wrapperload .elem:nth-child(2){
    animation: anim 4s infinite;
}

#wrapperload .elem:nth-child(3){
    animation: anim 4s infinite;
}

.nav_logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav_logo:hover{
    color:var(--first-color-alt);

}

.nav_menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue),32%,16%, .8);
    width: 90%;
    border-radius: 4rem;
    padding:1rem 2.25rem;`
    backdrop-work:blur(10px);
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_link{
    color:var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;
    border-radius: 5rem;

}
/* Active link */
.active-link{
    background: linear-gradient(180deg,
    hsla(var(--first-hue),var(--sat),var(--lig), 1),
    hsla(var(--first-hue),var(--sat),var(--lig), .2)
        );
    box-shadow: 0 0 16px hsla(var(--first-hue),var (--sat),var (--lig), .4);
    color: var(--title-color);
}

/* Change background header */
.scroll-header{
    box-shadow:0 4px 4px hsla(0, 0%, 4%, .3);
}

/*=============== HOME ===============*/
.home_container{
    position: relative;
    row-gap: 4.5 rem;
    padding-top: 2rem;
    max-width: 100%;
}

.home_data{
    text-align: center;
}

.home_greeting,
.home_education{
    font-size: var(--small-font-size);
    font-weight:var (--font-medium);
}

.home_greeting{
    display:block;
    color:var(--title-color);
    margin-bottom: .25rem;
}

.home_education{
    color:var(--text-color);
    margin-bottom: 2.5rem;
}

.home_name{
    font-size: var(--biggest-font-size);
}

.home_img{
    max-width: 200%;
    max-height: 200%;
}

.home_handle{

    justify-self: center;
    width:190px;
    height:293px;
    background: linear-gradient(180deg,
    hsla(var(--first-hue),var(--sat),var(--lig), 1),
    hsla(var(--first-hue),var(--sat),var(--lig), .2)
    );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.home_button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin-top:5rem;

    }

    .home_social,
    .home_scroll{
        position: absolute;
    }

    .home_social{
        bottom: 5rem;
        left:0;
        display: grid;
        row-gap: .5rem;
    }

    .home_social-link{
        width:max-content;
        background-color: var(--container-color);
        color:var(--first-color);
        padding: .35rem;
        border-radius: .25rem;
        display:flex;
        font-size: 1rem;
    }

    .home_social-link{
        width: max-content;
        background-color: var(--container-color);
        color: var(--first-color);
        padding:.25rem;
        border-radius: .25rem;
        display:flex;
        font-size:1rem;
        transition: .4s;

    }

    .home_social-link:hover{
        background-color: var(--first-color);
        color:#fff;
    }

    .home_social::after{
        content:'';
        height:2px;
        background-color: var(--first-color);
        transform:rotate(90deg).translate(16px, 3px);
    }
    .home_scroll{
        color:var(--first-color);
        right: -1.5rem;
        bottom: 4rem;
        display: grid;
        row-gap: 2.25rem;
        justify-items: center;
    }

    .home_scroll-icon{
        font-size:var(--smaller-font-size);
        transform:rotate(-90deg);
    }


/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color:var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}

.button:hover{
    background-color: var (--first-color-alt);
    color:var(--body-color);
}

.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color:var(--first-color);
}
/*=============== ABOUT ===============*/
.about_container{
    row-gap: 2.5rem;

}

.about_img{
    width:12rem;
    border-radius:1.5rem;
    justify-self: center;
    height:12rem;
}

.about_data{
    text-align: center;

}

.about_info{
    display:grid;
    gap:.5rem;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 2rem;
}

.about_box{
    background-color:var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}

.about_icon{
    font-size:1.5rem;
    color:var(--first-color);
    margin-bottom: .5rem;

}

.about_title{
    font-size:var(--small-font-size);
}

.about_subtitle{
    font-size:var(--tiny-font-size);

}
.about_description{
    margin-bottom: 2rem;
}

/*=============== SKILLS ===============*/
.skills_content{
background-color: var(--container-color);
padding:1.5rem;
border-radius:1.25rem;

}

.skills_container{
    max-width: 100%;
}

.skills_title{
color: var(--first-color);
font-size: var(--normal-font-size);
font-weight: var(--font-medium);
text-align: center;
margin-bottom: 1.5rem;

}

.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;

}

.skills_group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;

}

.skills_data{
    display: flex;
    column-gap: .5rem;

}

.ss{
    font-size: 2rem;
    color:var(--first-color);

}

.skills .bxs-badge-check{
    color:var(--first-color);
}

.skills_name{
    font-size:var(--normal-font-size);
    font-weight:var(--font-medium);
    line-height:18px;
}

.resume .resume-item{
    padding: 0 0 2px 2px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}
.resume .resume-title {
    font-size: 2.6rem;
    margin-top: .20rem;
    margin-bottom: .20rem;
    color: #050d18;
}
.aos-init{
    flex:1;
    margin-left: 4rem;
}

.resume-row{
    display:flex;

}

.download{
    position: absolute;
    font-size: 1.35rem;
    right: 10%;
    margin-top: -.2rem;
    border-radius: 1rem;
    padding:2px;

}
.resume_subtitle{
    display: flex;
}


/*=============== SERVICES ===============*/


/* Services modal */


/*Active modal*/


/*=============== WORK ===============*/
.work_container{
    padding-top:1rem;

    grid-template-columns: repeat(3,1fr);
}

.work_filters{
    display:flex;
    justify-content: center;
    column-gap:.75rem;
    margin-bottom:2rem;
}

.work_item{
    cursor: pointer;
    color:var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius:.5rem;

}

.work_card{
    background-color: var(--container-color);
    padding: 1 rem;
    height: auto;
    border-radius: 1rem;

}

.work_img{
    border-radius: 1rem;
    margin-bottom: .75rem;

}

.work_title{
    font-size: var(--normal-font-size);
    font-weight:var(--font-medium);
    margin-bottom:.25rem;
}

.work_button{
    width: max-content;
    color:var(--small-font-size);
    display:flex;
    align-items: center;
    column-gap: .25rem;
}

.work_button:hover .work_icon{
    transform: translateX(.25rem);
}

.work_icon{
    font-size: 1rem;
    transition: .4s;
}
/* Active item work*/
.active-work{
    background-color: var(--first-color);
    color:var(--body-color);
}

/*=============== TESTIMONIAL ===============*/
.testimonial_card{
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;

}

.qualification__tabs{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--container-color);
  width: 115%;
  border-radius: 1rem;
  margin-bottom: var(--h1-font-size);
}

.qualification__tabs{
font-size: var(--small-font-size);
font-weight: var(--medium-font-size);
cursor: pointer;
}
.qualification__button:hover{
  color: var(--first-color);
}

.qualification__icon{
  font-size:2rem;
  padding-right: 5%;
}

.qualification__data{

  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 1fr max-content 1fr;
  padding-left: 5%;

}

.qualification__title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification__subtitle{
  font-size: var(--small-font-size);
  display: inline-block;
}

.qualification__calendar{
  font-size: var(--smaller-font-size);
  background-color: var(--first-color);
  text-align: left;
  color: white;
  padding-left: 5%;
  border-radius: 1rem;

}
.qualification__rounder{
  display: inline-block;
  width: 20px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 10%;
}
#courses{
  font-size: var(--smaller-font-size);
}

.qualification__line{
  display: block;
  width: 1px;
  height: 105%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

 #courses{
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.testimonial_img{
    width:60px;
    border-radius: 3rem;
    margin-bottom: 1rem;

}

.testimonial_name{
    font-size:var(--small-font-size);
    margin-bottom: .25rem;
    font-weight: var(--font-medium);
}

.testimonial_description{
    font-size:1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.testimonial_img_size{
display:block;
}



.testimonial_img,.testimonial_name{
  margin-right: 5%;
}

.swiper-pagination-bullet{
    background-color: var(--text-color-light);
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

      .swiper {
        max-width: 100%;
        max-height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background-color: var(--body-color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

       .swiper-slide img {
        object-fit: cover;
      }
/*=============== CONTACT ===============*/
.contact_container{
    row-gap:3rem;
    padding-bottom: 3rem;
    max-width: 100%;
    display:flex;
}
.contact_content{
        width: 100%;
    }


.contact_title{
    text-align:center;
    font-size:var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.contact_info{
    display: grid;
    gap:1rem;
}
.contact_card{
    background-color: var(--container-color);
    text-align: center;
    border-radius: .75rem;
    padding:1rem;
}

.contact_card-icon{
    font-size:2rem;
    color: var(--title-color);
    margin-bottom: .25rem;
}

.contact_card-title,
.contact_card-data{
    font-size:var(--small-font-size);
}

.contact_card-title{
    font-weight:var(--font-medium);
}

.contact_card-data{
    display: block;
    margin-bottom: .75rem;
}

.contact_button{
    color:var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact_button:hover .contact_button-icon{
    transform: translateX(.25rem);
}

.contact_button-icon{
    font-size:1rem;
    transition: .4s;
}

.contact_form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact_form-input{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    max-height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color:var(--text-color);
    outline:none;
    padding:1rem;
    border-radius:.75rem;
    z-index:1;
}

.contact_form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding:.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact_form-area{
    height: 11rem;
}

.section-resume{
    text-align:left;
}

.contact_form-area textarea{
resize:none;
}


/*=============== FOOTER ===============*/
.footer{
    background-color: var(--first-color);

    margin-left: -20%;
    margin-right: -20%;
}

.footer_container{
    padding: 2rem 0 6rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin:auto;

}

.footer_title,
.footer_link{
    color:var(--body-color);
}

.footer_title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.footer_social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    column-gap: 2rem;
    padding: .25rem;
    border-radius: .25rem;
    font-size:1rem;
    display: inline-flex;
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue),8%, 38%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue),8%,26%);
    border-radius:  .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue),8%,20%);

}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and(max-width: 320px)
{
  body{
    position: fixed;
  }
  .qualification__rounder, .qualification__line{
    width: 0px;
    height: 0px;
  }
    .nav_menu{
        padding: 1rem 1.5rem;
    }
    .home_buttons{
        flex-direction: column;
    }
    .home_handle{

        width:130px;
        height:150px;
    }
    .home_social
    {
      position: fixed;
      box-shadow: 0px;
    }
    .home_scroll{
      row-gap: 0px;
      font-size: 10px;
      box-shadow: 0px;
      padding-left: -10px;
    }
    .home_scroll-name{
      white-space: pre-wrap;
    }
    .home_img{
        width:130px;
    }
    .contact_container{
      grid-template-columns: repeat(1,1fr);
      display: grid;
       justify-content: center;
       margin-left: -20%;

    }
    .about_description{
      text-align: justify;
    }
    .about_info{
      grid-template-columns: repeat(1,1fr);
    }

    .skills_box{
        column-gap: 1rem;
    }

    .resume-row{
        grid-template-columns: repeat(2,1fr);
    }
    .skills_name{
        font-size:var(--small-font-size);
    }
    .work_filters{
        column-gap: .25rem;
    }
    .work_container{
        grid-template-columns: repeat(1,200px);
    }

}
@media screen and (max-width: 575px)
{
  .qualification__rounder, .qualification__line{
    width: 0px;
    height: 0px;
  }
    .nav_menu{
        padding: 1rem 1.5rem;
    }
    .home_button{
        display: grid;
        margin-left: -25%;
    }

    .about_container{
      margin-left: -5%;
    }
    .home_handle{
        width:130px;
        height:150px;
    }
    .home_social
    {
      position: fixed;
      box-shadow: 0px;
    }
    .home_scroll{
      row-gap: 0px;
      font-size: 10px;
      box-shadow: 0px;
      padding-left: -10px;
    }
    .home_scroll-name{
      white-space: pre-wrap;
    }
    .home_img{
        width:130px;
    }
    .contact_container{
      grid-template-columns: repeat(1,1fr);
      display: grid;
       justify-content: center;
        margin-left: -19%;

    }
    .about_description{
      text-align: center;
    }
    .about_info{
      grid-template-columns: repeat(1,1fr);
      margin-left: -10%;
    }

    .skills_box{
        column-gap: 1rem;
    }

    .resume-row{
        grid-template-columns: repeat(2,1fr);
    }
    .skills_name{
        font-size:var(--small-font-size);
    }
    .work_filters{
        column-gap: .25rem;
    }
    .work_container{
        grid-template-columns: repeat(1,200px);
    }
}

/* For medium devices */

@media screen and (min-width: 576px)
{
  .qualification__rounder{
    width: 20px;
    height: 12px;
  }
  .qualification__line{
    width: 1px;
    height: 105%;

  }
    .nav_menu{
        width:80%;
        left:0;
        right:0;
        margin: 0 auto;
    }
    .self{
    text-align: center;
    justify-content: center;
    }

    .about_container{
    margin-left: -10%;
    text-align: center;
    justify-content: center;
    }

    .about_info{
        grid-template-columns: repeat(3, 140px);
        display:grid;
        justify-content: center;
    }
   .about_img{
     justify-content: center;
     width: 425px;
     height: 250px;
   }

   .self{
     margin-right:-40%;
   }
   .about_data{
     margin-right:-2%;
   }
    .about_description{
       padding:.5rem;
       text-align: justify;
    }
    .skills_container{
     justify-content: center;
    }

    .skills_content{
       padding: 2rem 4rem;
    }

    .resume-row{
        grid-template-columns: repeat(2,1fr);
    }
    .contact_container{
         grid-template-columns: repeat(1,1fr);
         justify-content: center;
         display: grid;
    }
    .contact_content{
      justify-content: center;
      margin-left: -8%;
      text-align: center;

    }

    .work_container{
       justify-content: center;
       grid-template-columns: repeat(2,1fr);
       display: grid;
    }
    .work_img{
        width: 295px;
    }

}

@media screen and (min-width: 767px)
{
    .contact_container{
         grid-template-columns: repeat(2,max-content);
         justify-content: center;
         column-gap: 3rem;
    }
    .qualification__rounder{
      width: 20px;
      height: 12px;
    }
    .qualification__line{
      width: 1px;
      height: 105%;

    }

    .work_container{
       grid-template-columns: repeat(3,200px);
    }
    .about_container{
      grid-template-columns: repeat(2,1fr);
    }
    .about_description{
      text-align: justify;
    }

}
/* For large devices */


@media screen and (min-width: 992px)
{

    .section_title{
        margin-bottom: 3.5rem;
    }

    .qualification__rounder{
      width: 20px;
      height: 12px;
    }
    .qualification__line{
      width: 1px;
      height: 105%;

    }

    .home_social-link{
        padding: .4rem;
        font-size: 1.2rem;
    }
    .home_social::after{
        transform: rotate(90deg) translate(16px,0);
    }


    .home_scroll-icon{
        font-size: 1rem;
    }
    .about_container{
        grid-template-columns: repeat(2,1fr);


    }
    .about_description{
      text-align: justify;
      padding-left: 15%;
    }
    .about_img{
        width:325px;
        height: 270px;
    }
    .about_data{

      width:120%;
    }
    .about_info{
     column-gap: 3rem;
    }

    .skills_container{
        grid-template-columns: repeat(3,350px);
        column-gap: 3rem;
    }
    .work_container{
        gap: 3rem;
        grid-template-columns: repeat(3,15rem);

    }

    .work_card{
        padding: 1.25rem;
    }
    .work_img{
        margin-bottom: 1rem;
    }

    .work_title{
        margin-bottom: .5rem;
    }

    .testimonial_container{
        width: 750px;
    }

    .swiper-button-prev{
      top: 30%;
      left: -96px;
      width: 210px;
      height: 145px;
    }
    .swiper-button-next{
      top: 30%;
      right: -64px;
      width: 145px;
      height: 145px;
    }
    .testimonial_card{
        padding:1.5rem 2rem;
    }

    .testimonial_container{
    width:auto;
    }
    .contact_container{
       column-gap: 20rem;
       width:130%;

    }

    .footer_social-link{
        font-size:1.25rem;
        padding:.4 rem;
        border-radius: .5rem;
    }


}
